#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

install/glusterfs-server::
	mv debian/tmp/etc/glusterfs/glusterfs-client.vol.sample \
	   debian/tmp/etc/glusterfs/glusterfs-client.vol
	mv debian/tmp/etc/glusterfs/glusterfs-server.vol.sample \
	   debian/tmp/etc/glusterfs/glusterfs-server.vol
	ln -s glusterfs.8 debian/tmp/usr/share/man/man8/glusterfsd.8 

install/libglusterfs0::
	for f in debian/tmp/usr/lib/glusterfs/*/xlator/debug/trace.so; do \
		debug_path=`echo "$$f" | sed -e 's|debian/tmp|debian/glusterfs-dbg/usr/lib/debug|'`; \
		install -d "`dirname $$debug_path`"; \
		objcopy --only-keep-debug "$$f" "$$debug_path"; \
	done
	strip --remove-section=.comment --remove-section=.note --strip-unneeded \
		debian/tmp/usr/lib/glusterfs/*/xlator/debug/trace.so

clean::
	rm -rf glusterfs*.8 

get-orig-source::
	uscan --force-download --verbose
